<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtles - Index</title>
</head>
<style>
    form{
        display: inline-block
    }
</style>
<body>
   <h1>Ninja Turtles</h1>
   <ul>
       <% for(let i=0;i < data.length;i++){ %>
           <li>
               <a href="/turtles/<%=[i]%>"">
               <%=data[i].name%>    
               </a><br>
               <a href = "/logs/<%=data[i].id%>/edit"><button >Edit</button></a>
            <form method="POST" action="/logs/<%=data[i]._id%>?_method=DELETE">
                <button type = "submit">Delete</button></a>
            </form>
           </li>
       <%}%>
   </ul>
   <nav>
       <a href="/turtles/new">Create a Ninja Turtle</a>
   </nav>
</body>
</html>